@font-face {
  font-family: sf_pro;
  src: url(../../assets/fonts/SFPRODISPLAYREGULAR.OTF);
  font-weight:normal;
}

@font-face {
  font-family: sf_pro;
  src: url(../../assets/fonts/SFPRODISPLAYBOLD.OTF);
  font-weight:bold;
}

@font-face {
  font-family: pearl;
  src: url(../../assets/fonts/TAN-Pearl-Regular.otf);
  font-weight:normal;
}

.hero{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.top_info{
    margin-top: 80px;
    width: 100%;
    padding: 0 121px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.l_info{
    margin-bottom: 24px;
    width: 550px;
    line-height: 150%;
}

.date_info{
    display: flex;
    gap: 12px;
}

.date_txt{
    color: #8A8A8A;

}

.date{
    letter-spacing: 15%;
}

.myself_block{
    position: relative;
    width: 78%;
    margin-left: 22%;
    margin-top: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.myself_bg{
    width: 100%;
    height: 374px;
    background: #000;

}

.myself_txt{
    font-family: pearl;
    font-size: clamp(10rem , 10.521vw , 12.625rem);
    color: #F7F9FF;
    letter-spacing: 26%;
    position: absolute;
    left: -64px;
    pointer-events: none;
}

.btm_info{
    margin-top: 24px;
    display: flex;
    justify-content: end;
    text-align: justify;
    width: 30%;
    margin-left: 70%;
    padding-right: 98px;
    box-sizing: border-box;
}

.btm_info span{
    display: flex;
    line-height: 150%;
    width: 420px;
}
.image {
    position: absolute;
    top: 28%;
    left: calc(50% - 180px);
    width: 360px;
    height: 554px;
    overflow: hidden;
    rotate: 12deg;
}

.image::after {
    content: "";
    position: absolute;
    inset: 0;

    background: url(../../assets/images/about.jpg) center/cover;
    opacity: 0.8;
}

.image::before {
    content: "";
    position: absolute;
    inset: 0;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


